body {
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: url('./sw-bg.jpg');
    background-size: cover;
    /* Set rules to fill background */
    min-width: 1024px;
    /* Set up proportionate scaling */
  
    height: auto;
    /* Set up positioning */

    top: 0;
    left: 0;
}